body {
  background-color: Pink;
  margin-top: 15px;
    margin-left: 15px;
}

h1 {
  color: black;
}

h2 {
  color: red;
}
/* This is a single-line comment. For more info on CSS, go to https://www.w3schools.com/css/default.asp. */
